.text-caption1 {
  font-size: clamp(15px, 3.19vw, 69px);
  line-height: clamp(16px, 3.47vw, 57px);
}

.fontSize-fluid {
  font-size: clamp(80px, 16.66vw, 360px);
  line-height: clamp(80px, 16.66vw, 360px);
}

.text-bordered-back{
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;
}

.text-bordered {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px black;
}



.fontSize-fluid-branding {
  font-size: clamp(15vw, 21vw, 27vw);
  line-height: clamp(15vw, 21vw, 27vw);

}

.fontSize-fluid-social {
  font-size: clamp(80px, 16.6vw, 330px);
  line-height: clamp(80px, 16.6vw, 330px);

}

.bg-branding {
  background: linear-gradient(180deg, #D1CEAE 0%, #131313 100%);
  height: auto;
}

