.fontSize-menu {
    font-size: clamp(20px, 4.16vw, 90px);
    line-height: clamp(26px, 4.55vw, 120px);
  
  }
  .fontSize-submenu {
    font-size: clamp(12px, 2.5vw, 54px);
    line-height: clamp(26px, 4.55vw, 120px);
  
  }

  .font-close {
    font-size: clamp(20px, 1.94vw, 42px);
    line-height: clamp(10px, 2.08vw, 45px);
  
  }
