
.text-fluid {
    font-size: clamp(60px, 12.5vw, 270px); 
    line-height: clamp(60px, 12.5vw, 270px); 
}

.text-fluid-h4{
    font-size: clamp(20px, 4.16vw, 90px);
    line-height:clamp(21.3px, 4vw, 96px);
}

.text-fluid-span{
    font-size: clamp(7px, 1.38vw, 30px);
    line-height:  clamp(7px, 1.38vw, 30px);
}
.text-pre-next{
    font-size: clamp(5.5px,1.1vw,24px);
    line-height: clamp(5px,1.1vw,24px);
}
.text-servicie {
    font-size: clamp(7px, 1.52vw, 33px);
    line-height:  clamp(11.3px, 2.36vw, 51px);
}

.text-ul-servicie{
    font-size: clamp(15.33px, 3.19vw, 69px);
    line-height:  clamp(28px, 5.83vw, 126px);
}
