.text-fluid {
    font-size: clamp(33px, 7.14vw, 150px); 
    
}


.text-fluid-h4{
    font-size: clamp(16px, 3vw, 72px);
    line-height:32px
}

.text-fluid-span{
    font-size: clamp(4px, 1.3vw, 36px);
    line-height:  clamp(4px, 1.3vw, 36px);
}
.text-pre-next{
    font-size: clamp(10px,16px,16px);
}



