.text-bordered {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;
}

.fontSize-fluid {
  font-size: clamp(80px, 16.66vw, 360px);
  line-height: clamp(80px, 16.66vw, 360px);
}

.fontSize-fluid-branding {
  font-size: clamp(15vw, 21vw, 27vw);
  line-height: clamp(15vw, 21vw, 27vw);

}

.fontSize-fluid-social {
  font-size: clamp(80px, 16.6vw, 330px);
  line-height: clamp(80px, 16.6vw, 330px);

}

.bg-branding {
  background: linear-gradient(180deg, #D1CEAE 0%, #131313 100%);
  height: auto;
}



.text-bordered-strategy {
  color: #68725E;
  ;
  /* Color de la letra */
  text-shadow:
    -2px -2px 0 white,
    /* Sombra arriba-izquierda */
    2px -2px 0 white,
    /* Sombra arriba-derecha */
    -2px 2px 0 white,
    /* Sombra abajo-izquierda */
    2px 2px 0 white;
  /* Sombra abajo-derecha */
}

.fontSize-fluid-strategy {
  font-size: clamp(7vw, 16vw, 21vw);
  line-height: clamp(7vw, 16vw, 21vw);
}

.text-elevating {
  font-size: clamp(16px, 3.33vw, 72px);
  line-height: clamp(22px, 4.72vw, 102px);
}

.text-metric {
  font-size: clamp(20px, 4.16vw, 90px);
  line-height: clamp(23px, 4.86vw, 105px);
}

.text-caption {
  font-size: clamp(7px, 1.52vw, 33px);
  line-height: clamp(8px, 1.80vw, 39px);
}

.text-clip {
  font-size: clamp(10px, 2.08vw, 45px);
  line-height: clamp(13px, 2.7vw, 60px);
}

.bg-strategy {
  background-color: #68725E;
  ;
}

.text-bordered-data {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;
}

.fontSize-fluid-data {
  font-size: clamp(80px, 16vw, 360px);
  line-height: clamp(7vw, 15vw, 21vw);

}

.text-bordered-branding {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;

}

/* Contenedor principal */
.slider-wrapper {
  width: 100%;

}

/* Contenedor del slider */
.slider-container {
  display: flex;
  width: 500%;
  /* Ajusta el ancho para las tres imágenes */
  animation: slide-animation 9s linear infinite;
  /* Movimiento contínuo */
}

/* Cada imagen (slide) */
.slide {
  width: 100%;
  /* Cada slide ocupa el 100% del contenedor */
  height: 100%;
}

/* Asegúrate que las imágenes no se deformen */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Para evitar que las imágenes se estiren */
}

/* Animación para el movimiento del slider */
@keyframes slide-animation {
  0% {
    transform: translate(0, 0) rotate(45deg);
    /* Al inicio */
  }

  33% {
    transform: translate(-33.33%, -33.33%) rotate(45deg);
    /* Mover a la segunda imagen */
  }

  66% {
    transform: translate(-66.66%, -66.66%) rotate(45deg);
    /* Mover a la tercera imagen */
  }

  100% {
    transform: translate(0, 0) rotate(45deg);
    /* Regresar al inicio */
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Rota el contenedor 45 grados */
}

.item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  /* Rota los elementos dentro del contenedor en sentido opuesto */
}

.carousel {
  width: 100%;
}

.carousel-inner {
  width: 100%;
  display: flex;
  transition: transform 5s ease-in-out;
}

.carousel-inner>* {
  flex: 0 0 100%;
  width: 100%;
}

.scrollable-image {
  animation: scrollImage 60s linear infinite alternate;
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* 🔥 FIX para Safari */
@supports (-webkit-touch-callout: none) {
  .scrollable-image {
    animation: scrollImage 60s linear infinite alternate !important;
  }
}

@keyframes scrollImage {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -93%, 0);
  }
}



@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-30px);
    /* Opcional: Mueve ligeramente hacia arriba */
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-out-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-out-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-out-up {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
