.text-bordered {
    color: black;
    /* Color de la letra */
    text-shadow:
        -1px -1px 0 white,
        /* Sombra arriba-izquierda */
        1px -1px 0 white,
        /* Sombra arriba-derecha */
        -1px 1px 0 white,
        /* Sombra abajo-izquierda */
        1px 1px 0 white;
    /* Sombra abajo-derecha */
}

.fontSize-fluid {
    font-size: clamp(13vw, 20vw, 35vw);
    line-height: clamp(13vw, 20vw, 35vw);

}
.fontSize-fluid-branding {
    font-size: clamp(15vw, 21vw, 27vw);
    line-height: clamp(15vw, 21vw, 27vw);

}

.fontSize-fluid-social {
    font-size: clamp(33px, 7.14vw, 150px);
    line-height: clamp(33px, 7.14vw, 150px);

}

.bg-branding {
    background: linear-gradient(180deg, #D1CEAE 0%, #131313 100%);
    height: auto;
}



.text-bordered-strategy {
    color: #68725E;
    ;
    /* Color de la letra */
    text-shadow:
        -1px -1px 0 white,
        /* Sombra arriba-izquierda */
        1px -1px 0 white,
        /* Sombra arriba-derecha */
        -1px 1px 0 white,
        /* Sombra abajo-izquierda */
        1px 1px 0 white;
    /* Sombra abajo-derecha */
}
.fontSize-fluid-strategy {
    font-size: clamp(7vw, 16vw, 21vw);
    line-height: clamp(7vw, 15vw, 21vw);

}
.bg-strategy {
    background-color: #68725E; ;
}

.text-bordered-data {
    color: #68725E;
    ;
    /* Color de la letra */
    text-shadow:
        -1px -1px 0 white,
        /* Sombra arriba-izquierda */
        1px -1px 0 white,
        /* Sombra arriba-derecha */
        -1px 1px 0 white,
        /* Sombra abajo-izquierda */
        1px 1px 0 white;
    /* Sombra abajo-derecha */
}
.fontSize-fluid-data {
    font-size: clamp(7vw, 16vw, 21vw);
    line-height: clamp(7vw, 15vw, 21vw);

}
.text-bordered-branding {
    color: transparent;
    /* Color de la letra */
    -webkit-text-stroke: 1px white;
   
}
