.text-bordered {
    color: transparent; /* Hace que el relleno del texto sea transparente */
    -webkit-text-stroke: 2px white; /* Agrega un contorno blanco al texto */    
}

.fontSize-gra-desig {
    font-size: clamp(80px, 16.66vw, 360px);
    line-height: clamp(80px, 16.66vw, 360px);

}