.text-bordered {
    color: transparent; /* Hace que el relleno del texto sea transparente */
    -webkit-text-stroke: 2px white; /* Agrega un contorno blanco al texto */    
}

.fontSize-fluid-branding {
    font-size: clamp(13vw, 21vw, 27vw);
    line-height: clamp(13vw, 21vw, 27vw);

}

.font-road {
    font-size: clamp(20px, 4.16vW, 90px);
    line-height: clamp(23px, 4.72vw, 102px);

}

.font-production {
    font-size: clamp(80px, 16.66vw, 360px);
    line-height: clamp(80px, 16.66vw, 360px);
}
.font-performance {
  font-size: clamp(16px, 3.33vw, 72px);
  line-height: clamp(22.6px, 4.72vw, 102px);
}
.font-media-online {
  font-size: clamp(80px, 16.6vw, 360px);
  line-height: clamp(80px, 16.6vw, 360px);
}
.text-media-online {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px red;
}
.text-media {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;
}



.container-phone1{
 
  overflow: hidden;
  width: 98vw;
  mask-image: inset(0px round 20px)!important;
  -webkit-mask-image: inset(0px round 20px);
}

.phone-video{
  position: absolute;
  border-radius: 35px 29px 37px 30px;

  object-fit:cover; 
  top: 9%;
  left: 28%;
  width: 37%;
  height: 79%;
  overflow: hidden;
  transform: rotateX(6deg) rotateY(12deg) skewX(-30deg) scaleX(1.05) scaleY(1.029);
  clip-path: polygon(0% 1.29%, 100% 0%, 100% 100%, 0% 100%);

 
}


