.text-bordered {
    color: transparent; /* Hace que el relleno del texto sea transparente */
    -webkit-text-stroke: 2px white; /* Agrega un contorno blanco al texto */    
}

.fontSize-fluid-branding {
    font-size: clamp(13vw, 21vw, 27vw);
    line-height: clamp(13vw, 21vw, 27vw);

}

.font-road {
    font-size: clamp(20px, 4.16vW, 90px);
    line-height: clamp(23px, 4.72vw, 102px);

}

.font-production {
    font-size: clamp(80px, 16.66vw, 360px);
    line-height: clamp(80px, 16.66vw, 360px);
}
.font-performance {
  font-size: clamp(16px, 3.33vw, 72px);
  line-height: clamp(22.6px, 4.72vw, 102px);
}
.font-media-online {
  font-size: clamp(80px, 16.6vw, 360px);
  line-height: clamp(80px, 16.6vw, 360px);
}

.font-graphic {
  font-size: clamp(50px, 10.41vw, 225px);
  line-height: clamp(50px, 10.41vw, 225px);
}

.text-media-online {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px red;
}
.text-media {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;
}



.container-phone1{
 
  overflow: hidden;
  width: 98vw;
  mask-image: inset(0px round 20px)!important;
  -webkit-mask-image: inset(0px round 20px);
}

.phone-video{
  position: relative;
  border-radius: 4vw 4vw 2vw 2vw;
  object-fit:cover; 
  top: 4.12vw;
  left: 14vw;
  width: 20vw;
  height: auto;
  overflow: hidden;
  transform: rotateX(6deg) rotateY(-8deg) skewX(-30deg) skewY(3deg) scaleX(1.07) scaleY(1.01); 
}

.phone-video1{
  position: relative;
  border-radius: 4vw 4vw 2vw 2vw;
  object-fit:cover; 
  top: 4.12vw;
  left: 14vw;
  width: 20vw;
  height: auto;
  overflow: hidden;
  transform: rotateX(6deg) rotateY(-8deg) skewX(-30deg) skewY(3deg) scaleX(1.07) scaleY(1.01); 
}
