.xtext-xs {
    font-size: clamp(10px, 1.5vw, 30px);
    line-height: clamp(10px, 1.5vw, 30px);
}

.xtext-sm {
    font-size: clamp(9px, 1.94vw, 42px);
    line-height: clamp(10px, 2.08vw, 45px);
}

.xtext-lg {
    font-size: clamp(40px, 8.33vw, 180px);
    line-height: clamp(40px, 8.33vw, 180px);
}
