.xtext-xs {
    font-size: clamp(10px, 1.5vw, 30px);
    line-height: clamp(10px, 1.5vw, 30px);
}

.xtext-sm {
    font-size: clamp(8px, 1.66vw, 36px);
    line-height: clamp(10px, 2.08vw, 45px);

}

.xtext-lg {
    font-size: clamp(40px, 8.33vw, 180px);
    line-height: clamp(45px, 8.33vw, 180px);
    
}


/* Para pantallas menores a 1280px */

  
  /* Para pantallas mayores o iguales a 1280px */
  @media (min-width: 1280px) {
    @supports (-webkit-appearance: none) and (not (accent-color: auto)) {
      .safari-text-stroke {
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  
  

