
.text-bordered-branding {
    color: transparent;
    /* Color de la letra */
    -webkit-text-stroke: 1px white;
}
.text-tango-title{
    font-size: clamp(40px, 11vw, 240px);
    line-height: clamp(40px, 11vw, 240px);
}
.h-video{
    height: clamp(268px, 57vw, 1200px);
}
.xtext-xxl {
    font-size: clamp(80px, 21vw, 450px);
    line-height: clamp(80px, 21vw, 450px);
}
.top {
    margin-top: -16vw;
  }

.top-1 {
    margin-top: -12vw;
    
  }

.top-2 {
    margin-top: 0;
  }
  
.w-image-iphone{
    width: clamp(125px, 24vw, 562px);
}

.scrollable-image {
    animation: scrollImage 15s linear infinite alternate;
    will-change: transform;
   
  }
  
  /* 🔥 FIX para Safari */
  @supports (-webkit-touch-callout: none) {
    .scrollable-image {
      animation: scrollImage 15s linear infinite alternate !important;
    }
  }
  
  @keyframes scrollImage {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-62%);
    }
  }
  .font-web {
    font-size: clamp(80px, 16.66vw, 360px);
    line-height: clamp(80px, 16.66vw, 360px);
  }
  .font-performance-tango {
    font-size: clamp(16px, 3.33vw, 72px);
    line-height: clamp(22.6px, 4.72vw, 102px);
  }