.text-bordered-miliares  {
    color: transparent; /* Hace que el relleno del texto sea transparente */
    -webkit-text-stroke: 2px black; /* Agrega un contorno blanco al texto */    
}
.font-milaires-crafting {
    font-size: clamp(16px, 3.33vw, 72px);
    line-height: clamp(22.6px, 4.72vw, 102px);
}

.font-road {
    font-size: clamp(20px, 4.16vW, 90px);
    line-height: clamp(23px, 4.72vw, 102px);

}

.font-digital-miliares {
    font-size: clamp(80px, 16.66vw, 360px);
    line-height: clamp(80px, 16.66vw, 360px);
}
.font-performance {
  font-size: clamp(16px, 3.33vw, 72px);
  line-height: clamp(22.6px, 4.72vw, 102px);
}
.font-media-online {
  font-size: clamp(80px, 16.6vw, 360px);
  line-height: clamp(80px, 16.6vw, 360px);
}

.font-graphic {
  font-size: clamp(50px, 10.41vw, 225px);
  line-height: clamp(50px, 10.41vw, 225px);
}

.text-media-online {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px red;
}
.text-media {
  color: transparent;
  /* Color de la letra */
  -webkit-text-stroke: 2px white;
}

.phone-video{
  position: absolute;
  object-fit:cover; 
  top: 14.12%;
  left: 50.4%;
  transform: translateX(-50%);
  width: 41%;
  height: auto;
  overflow: hidden;
}

.phone-video1{
  z-index: -100;
  position: absolute;
  object-fit:cover; 
  top: 15%;
  left: 25%;
  width: 39.5%;
  height: 70%;
  overflow: hidden;
  transform: rotateX(-22deg) rotateY(4deg) skewX(0deg) skewY(3deg) scaleX(1.03) scaleY(1.09); 
}
