
.xtext-lg1 {
    font-size: clamp(27px, 7.63vw, 165px);
    line-height: clamp(30px, 8.33vw, 180px);
}

.text-let {
    font-size: clamp(33px, 6.94vw, 150px);
    line-height: clamp(50px, 14vw, 300px);
}
.text-captions{
    font-size: clamp(10px, 1.52vw, 33px);
    line-height: clamp(10px, 2.08vw, 45px);
}













