.text-cases {
    font-size: clamp(9px, 1.94vw, 42px);
    line-height: clamp(10px, 2.08vw, 45px);
}
.text-work {
  font-size: clamp(66px, 13.88vw, 300px);
  line-height: clamp(66px, 13.88vw, 300px);
}
.img-responsive {
    @apply sm:w-[250px] lg:w-[400px] sm:h-[150px] lg:h-[278px];
}
.text-Showcase{
  font-size: clamp(33px, 6.94vw, 150px);
  line-height: clamp(133px, 13.88vw, 300px);
}

@media (min-width: 640px) {
    .mb-responsive {
      margin-bottom: clamp(133px, 13.88vw, 300px);
    }
}

@media (min-width: 640px) {
  .mt-responsive {
    margin-top: clamp(133px, 13.88vw, 300px);
  }
}

@media (min-width: 1700px) {
    .width-major{
     width: 550px;
     height: 383px;
    }
    .work-major{
      top: 32%;
    }
    .work-showcase{
      top: 39%;
    }
    .our-cases-major{
      margin-bottom: 46px;
    }
  }
  

