:root{ 
    --cant-images: 8;
    --images-width: clamp(150px, 15vw, 250px);
}



.slider .slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(var(--images-width) * 2 * var(--cant-images));
}

.slider:nth-child(1) .slide-track {
    animation-duration: 20s;
    animation-name: scroll-right;
}
.slider:nth-child(2) .slide-track{
    animation-duration: 20s;
    animation-name: scroll-left;
}
.slider:nth-child(3) .slide-track {
    animation-duration: 20s;
    animation-name: scroll-right;
}
.slider:nth-child(4) .slide-track{
    animation-duration: 20s;
    animation-name: scroll-left;
}

.slide {
 width: var(--images-width);
 display: flex;
 justify-content: center;
 align-items: center;

 padding-top: 12px;
 padding-bottom: 12px;
}

.slider .slide img {
    width: auto;
    max-height: 150px;
    object-fit: contain;
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--images-width) * var(--cant-images)));
    }
}

/* Animación para moverse hacia la izquierda */
@keyframes scroll-left {
    0% {
        transform: translateX(calc(-1 * var(--images-width) * var(--cant-images)));
    }
    100% {
        transform: translateX(0);
    }
}
.xtext-sm {
    font-size: clamp(9px, 1.94vw, 42px);
    line-height: clamp(12px, 2.14vw, 45px);
}
.xtext-lg {
    font-size: clamp(30px, 7.1vw, 150px);
    line-height: clamp(30px, 7.1vw, 150px);
}

.xtext-2xl {
    font-size: clamp(50px, 10.41vw, 225px);
    line-height: clamp(50px, 10.41vw, 225px);
}